@font-face {
    font-family: robotoSlab;
    src: url(./assets/fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf);
}

:root {
  font-family: "robotoSlab", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background: #fafafa;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

img{
    max-width: 100%;
}

html{
    font-size: 62.5%;
}

.pageTitle{
    text-align: center;
    font-size: 3rem;
    padding: 1rem;
    margin: 2rem;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

h2{
    font-family: "robotoSlab";
}

p{
    font-size: 1.8rem;
    line-height: 3rem;
}